@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-principal: #fff;
    --color-1: #858AE3;
    --color-2: #613DC1;
    --color-3: #4E148C;
    --color-4: #F9B9F2;
    --color-5: #2C2A4A;
}